#container {
	position: relative;
}
#container canvas, #toolbox, #help-box {
	position: absolute;
}
#help-box {
	margin: auto;
	/*width: 50%;*/
	text-align: center;
	padding: 10px;
	display: none;
	z-index: 9998;
	background-color: #f1f1f1;
	cursor: pointer;
}
#toolbox {
	right:0px;
	background-color: #ffffff;
	text-align: center;
	z-index: 9999;
}
#toolbox-header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f1;
	cursor: pointer;
}
.button-color {
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-color {
	cursor: pointer
}
/*Todo: generate, don't hardcode*/
#button-black {
	background-color: #000000;
}
#button-red {
	background-color: #FF0000;
}
#button-orange {
	background-color: #FF8000;
}
#button-yellow {
	background-color: #FFFF00;
}
#button-green {
	background-color: #00FF00;
}
#button-blue {
	background-color: #0000FF;
}
#button-purple {
	background-color: #FF00FF;
}

