#container {
	position: relative;
}
#container canvas, #toolbox {
	position: absolute;
}
#toolbox {
	top: 10px;
	background-color: #ffffff;
	text-align: center;
	z-index: 9999;
}
#toolbox-header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f1;
	cursor: move;
}
.button-color {
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#button-black {
	background-color: #000000;
}
#button-blue {
	background-color: #0000FF;
}
#button-red {
	background-color: #FF0000;
}
#button-green {
	background-color: #00FF00;
}